<% include ../partials/header.ejs %>

<h1> Edit <%= todo.title %></h1>


<!-- Update route -->

<!--Functions-->

<% function timeLength(x) { %>
    <% if(x.toString().length < 2) { %>
        <% return "0" + x %>
    <% } else { %>
        <% return x %>
    <% } %>  
<% } %>



<form action="/todo/<%= todo._id %>/?_method=PUT" method="POST">
    <input type="text" name="todo[title]" value="<%= todo.title %>" required="required">
    <input type="text" name="todo[description]" value="<%= todo.description %>" required="required">
    
    <p>Year
        <select name="todo[year]" id="year">
            <option selected disabled hidden>
                <%= timeLength(todo.year) %>
            </option>
            <% for(i= new Date().getFullYear(); i <= new Date().getFullYear() + 5; i++) { %>
                <option>
                    <%= timeLength(i) %>
                </option>
            <% } %>
        </select>
    </p>
    <p>Month
        <select name="todo[month]" id="month">
            <option selected disabled hidden>
                <%= timeLength(todo.month) %>
            </option>
            <% for(i=1; i <= 12; i++) { %>
                <option>
                    <%= timeLength(i) %>
                </option>
            <% } %>
        </select>
    </p>
    <p>Date
        <select name="todo[date]" id="date">
            <option selected disabled hidden>
                <%= timeLength(todo.date) %>
            </option>
            <% for(i=1; i <= 31; i++) { %>
                <option class="dateOptions">
                    <%= timeLength(i) %>
                </option>
            <% } %>
        </select>
    </p>
    
    <p>From
        <select name="todo[frmHr]">
            <option selected disabled hidden>
                <%= timeLength(todo.frmHr) %>
            </option>
            <% for(i=0; i <= 23; i++) { %>
                <option>
                    <%= timeLength(i) %>
                </option>
            <% } %>
        </select>
        <select name="todo[frmMin]">
            <option selected disabled hidden>
                <%= timeLength(todo.frmMin) %>
            </option>
            <% for(i=0; i <= 59; i++) { %>
                <option>
                    <%= timeLength(i) %>
                </option>
            <% } %>
        </select>
    </p>
    
    <p>To
        <select name="todo[toHr]">
            <option selected disabled hidden>
                <%= timeLength(todo.toHr) %>
            </option>
            <% for(i=0; i <= 23; i++) { %>
                <option>
                    <%= timeLength(i) %>
                </option>
            <% } %>
        </select>
        <select name="todo[toMin]">
            <option selected disabled hidden>
                <%= timeLength(todo.toMin) %>
            </option>
            <% for(i=0; i <= 59; i++) { %>
                <option>
                    <%= timeLength(i) %>
                </option>
            <% } %>
        </select>
    </p>
    <button id="submitForm">Submit</button>
    <a href="/todo/<%= todo._id %>">Go back</a>
</form>

<!-- default folder is public-->
<script src="/scripts/todoEdit.js"></script>
<script src="/scripts/todoNew.js"></script>

<% include ../partials/footer.ejs %>
