<% include ../partials/header1.ejs %>
<% include ../partials/header2.ejs %>

<h1>New Todo</h1>

<% function timeLength(x) { %>
    <% if(x.toString().length < 2) { %>
        <% return "0" + x %>
    <% } else { %>
        <% return x %>
    <% } %>  
<% } %>



<form action="/todo" method="POST">
    <input type="text" name="title" placeholder="Title" required="required" maxlength="15">
    <input type="text" name="description" placeholder="Description" required="required" maxlength="140">

    <p>Year
        <select name="year" id="year">
            <% for(i= new Date().getFullYear(); i <= new Date().getFullYear() + 5; i++) { %>
                <option>
                    <%= timeLength(i) %>
                </option>
            <% } %>
        </select>
    </p>
    <p>Month
        <select name="month" id="month">
            <% var monthArr = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>
            <% for(i=0; i <= 11; i++) { %>
                <% if(i === new Date().getMonth()) { %>
                    <option selected>
                        <%= timeLength(monthArr[i]) %>
                    </option>
                <% } else { %>
                    <option>
                        <%= timeLength(monthArr[i]) %>
                    </option>
                <% } %>
            <% } %>
        </select>
    </p>
    <p>Date
        <select name="date" id="date">
            <option class="dateOptions"></option>
        </select>
    </p>
    
    <p>From
        <select name="frmHr">
            <!--default option is time right now. see script-->
            <% for(i=0; i <= 23; i++) { %>
                <option>
                    <%= timeLength(i) %>
                </option>
            <% } %>
        </select>
        <select name="frmMin">
            <% for(i=0; i <= 59; i++) { %>
                <option>
                    <%= timeLength(i) %>
                </option>
            <% } %>
        </select>
    </p>

    <p>To
        <select name="toHr">
            <% for(i=0; i <= 23; i++) { %>
                <option>
                    <%= timeLength(i) %>
                </option>
            <% } %>
        </select>
        <select name="toMin">
            <% for(i=0; i <= 59; i++) { %>
                <option>
                    <%= timeLength(i) %>
                </option>
            <% } %>
        </select>
    </p>

    <button id="submitForm">Submit</button>
    <p>
        <a href="/todo">Go back</a>
    </p>
</form>

<!-- default folder is public-->
<script src="/scripts/todoNew.js"></script>

<% include ../partials/footer.ejs %>